
.ipynb_checkpoints/Tetris-checkpoint.ipynb
.ipynb_checkpoints/UCT-checkpoint.ipynb
__pycache__/A_star.cpython-311.pyc
.ipynb_checkpoints/PieceLocationTest-checkpoint.ipynb
.ipynb_checkpoints/Tetris-checkpoint.ipynb
__pycache__/A_star.cpython-39.pyc
__pycache__/UCT.cpython-39.pyc
